body{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
}

.sikeres{
    color: rgb(12, 164, 12);
}

.sikertelen{
    color: rgb(226, 8, 8);
}

#auth{
    font-size: 22px;
}

.adattar{
    width: 550px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#keres{
    margin: 10px;
    padding: 5px;
    width: 220px;
    font-size: 18px;
}

#OM{
    height: 24px;
    font-size: 20px;
    width: 140px;
}

#OMszoveg{
    font-weight: bold;
}

.vonal{
    border: solid rgb(105, 105, 105) 2px;
    margin-bottom: 15px;
}

.sor{
    width: 530px;
    display: inline-block;
}

.cim{
    width: 160px;
    text-align: center;
    float: left;
    font-size: 18px;
    background-color: rgb(255, 186, 186);
    font-weight: bold;
    padding: 5px;
}

.adat{
    background-color: aliceblue;
    width: 350px;
    text-align: center;
    float: left;
    font-size: 18px;
    padding: 5px;
}

#tobbPontosok{
    font-size: 18px;
}

#tabladiv{
    margin: 5px;
}

.tabla{
    display: inline-block;
    margin: 10px;
}
td{
    background-color: aliceblue;
    padding: 5px;
}

th{
    border-bottom: solid salmon 4px;
}

tr{
    margin-bottom: 2px;
}

#fooldalcim{
    font-size: 30px;
    padding: 20px 30px 20px 30px;
    background-color: #f5e9ff;
    width: 200px;
    margin: auto;
    border-radius: 20px;
    border: #e9d0ff solid 2px;
    margin-bottom: 40px;
}

#munkak{
    max-width: 900px;
    min-width: 300px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    margin: auto;
    padding: 60px 5px 100px 5px;
    border: #f5e9ff solid 4px;
}

.container{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.fooldalgomb{
    border: none;
    border-radius: 0px;
    padding: 10px 50px 10px 50px;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px 10px 0px 10px;
    background-color: rgb(107, 31, 206);
    color: #f5e9ff;

}

.fooldalgomb:hover{
    background-color: rgb(134, 61, 230);
    color: #edd8ff;
    cursor: pointer;
}

.lathatatlan{
    display: none;
}

.lathato{
    display: block;
}